.perspective-details-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  gap: 24px;
  grid-template-areas:
    'perspective-info'
    'perspective-stats'
    'tabs';
}

.custom-textarea {
  border-color: #e0e8ed;
  border-radius: 10px;
  padding: 10px;
  max-width: 100%;
  color: #1e3a5f;
  font-size: 14px;
}
.custom-textarea:focus {
  border-color: #1e3a5f;
  outline: none;
}
